<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hello -->
      <package
            uri="System"
            class="Hello.System.SystemPackage"
            genModel="src/hello.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hello2 -->
      <package
            uri="System"
            class="Hello2.System.SystemPackage"
            genModel="src/hello2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hello3 -->
      <package
            uri="System"
            class="Hello3.System.SystemPackage"
            genModel="src/hello3.genmodel"/>
   </extension>

</plugin>
